/* フォント読み込み */
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* 初期設定 */
main{
    width: 100vw;
    height: 100vh;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.profileMain{
    position: absolute;
    top: 0;
}
.proField{
    background-color: white;
    z-index: -1;
    width: 90vw;
    height: 90vh;
    border: solid;
    position: relative;
    top: 5%;
    left: 7%;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20,1fr);
    grid-gap: 1%;
    grid-auto-rows: minmax(100px, auto);
    border-radius: 40px;
    text-align: center;
    justify-content: center;
}
/* プロフィールが入ってくるアニメーション */
.proT{
    animation: proT 1.0s ease 0.0s 1 forwards;
    transform: translate(100vw,-50vh);
}
.proR{
    animation: proR 1.0s ease 0.0s 1 forwards;
    transform: rotate(90deg);
}
@keyframes proR{
    100%{
        transform: rotate(0deg);
    }
}
@keyframes proT{
    100%{
        transform:translate(0px,5vh);
    }
}

/* プロフィールが画面街へ行くアニメーション */
.fadeoutT{
    animation: proOutT 0.5s ease 0.0s 1 forwards;
}
@keyframes proOutT{
    100%{
        transform:translate(100vw,-50vh);
    }
    20%{
        transform:translate(-5vw,10vh);
    }
    0%{
        transform:translate(0px,5vh);
    }
}
.fadeoutR{
    animation: proOutR 0.5s ease 0.0s 1 forwards;
}
@keyframes proOutR{
    100%{
        transform:rotate(90deg);
    }
    20%{
        transform:rotate(0deg);
    }
    0%{
        transform:rotate(0deg);
    }
}

/* コーヒーマークを入れる */
.lineRe{
    background-repeat: space;
    background: url(img/caffe2.svg);
    background-size: 10% 100%;
    opacity: 0.3;
    z-index: -3;
}
.cafeOne{
    grid-column-start: 8; 
    grid-column-end: 21; 
    grid-row-start: 4; 
    grid-row-end: 5;
}
.cafeTwo{
    grid-column-start: 8; 
    grid-column-end: 21; 
    grid-row-start: 7; 
    grid-row-end: 8;
}
.cafeThree{
    grid-column-start: 8; 
    grid-column-end: 21; 
    grid-row-start: 10; 
    grid-row-end: 11;
}
.cafeFour{
    grid-column-start: 8; 
    grid-column-end: 21; 
    grid-row-start: 13; 
    grid-row-end: 14;
}
.cafeFive{
    grid-column-start: 8; 
    grid-column-end: 21; 
    grid-row-start: 16; 
    grid-row-end: 17;
}
.cafeSix{
    grid-column-start: 8; 
    grid-column-end: 21; 
    grid-row-start: 19; 
    grid-row-end: 20;
}
/* 自分の画像をはる */
.I-myface{
    grid-column-start: 3; 
    grid-column-end: 7; 
    grid-row-start: 4; 
    grid-row-end: 10;
}
.myface{
    display: inline-block;
    border: solid;
    width: 100%;
    height: auto;
    padding-left: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: aqua;
    padding: 10px;
}
/* 名前を貼る */
.myName{
    grid-column-start: 3; 
    grid-column-end: 7; 
    grid-row-start: 10; 
    grid-row-end:12;
    text-align: center;
    font-size: 2rem;
    font-family: 'Monoton', cursive;
}
.myProInfo{
    grid-column-start: 2; 
    grid-column-end: 8; 
    grid-row-start: 12; 
    grid-row-end: 20;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid yellowgreen;
}
/* 自分のことを書く */
table{
    width: 100%;
    height: 100%;
}
th{
    white-space: nowrap;
    font-size: 24px;
    text-align: right;
}
th::after{
    content: "：";
}
td{
    font-size: 20px;
    text-align: left;
    white-space: nowrap;
}
/* 自分の技術を書く */
.mySkill{
    width: 100%;
    height: 100%;
    grid-column-start: 8; 
    grid-column-end: 21; 
    grid-row-start: 1; 
    grid-row-end: 21;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20,1fr);
    grid-gap: 5%;
    grid-auto-rows: minmax(100px, auto);
}
.html{
    background-color: #FFD740;
    grid-column-start: 4; 
    grid-column-end: 10; 
    grid-row-start: 4; 
    grid-row-end: 11;
}
.c{
    background-color: #EF5350;
    grid-column-start: 11; 
    grid-column-end: 17; 
    grid-row-start: 4; 
    grid-row-end: 11;
}
.python{
    background-color: #FFAB91;
    grid-column-start: 2; 
    grid-column-end: 8; 
    grid-row-start: 12; 
    grid-row-end: 19;
}
.go{
    background-color: #a0f357;
    grid-column-start: 8; 
    grid-column-end: 14; 
    grid-row-start: 12; 
    grid-row-end: 19;
}
.java{
    background-color: #29B6F6;
    grid-column-start: 14; 
    grid-column-end: 20; 
    grid-row-start: 12; 
    grid-row-end: 19;
}
.mySkill img{
    width: 100%;
    height: 80%;
}
.skill{
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    padding: 3px;
}
/* 青いラインを書く */
.lineOne{
    z-index: -1;
    background-color: #29B6F6;
    grid-column-start: 1; 
    grid-column-end: 9; 
    grid-row-start: 1; 
    grid-row-end: 20;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: -5vh;
    opacity: 0.5;
}
.lineTwo{
    z-index: -1;
    background-color: rgba(46, 95, 255, 0.5);
    grid-column-start: 1; 
    grid-column-end: 21; 
    grid-row-start: 2; 
    grid-row-end: 4;
}
/* 右上のカードの設定 */
.cardName{
    font-size: 2vw;
    grid-column-start: 1; 
    grid-column-end: 9; 
    grid-row-start: 2; 
    grid-row-end: 4;
}
/* スマホ設定 */
@media screen and (max-width:497px){
    /* 初期設定 */
    p{
        font-size: 40px;
    }
    /* 大きさ設定 */
    .proField{
        overflow: hidden;
        background-color: white;
        z-index: -1;
        width: 90vh;
        height: 90vw;
        border: solid;
        position: relative;
        top: 50%;
        left: 7%;
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(20,1fr);
        grid-gap: 1%;
        grid-auto-rows: minmax(100px, auto);
        border-radius: 40px;
        text-align: center;
        justify-content: center;
    }
    /* 入るときのアニメーション */
    .proT{
        animation: proTra 1.0s ease 0.0s 1 forwards;
        transform: translate(100vw,100vh) rotate(0deg);
    }
    @keyframes proTra{
        100%{
            transform:translate(-15vh,40vw) rotate(90deg);
        }
        0%{
            transform: translate(100vh,100vw) rotate(120deg);
        }
    }
    /* 自分の情報は消すことにする */
    .myProInfo{
        display: none;
    }
    /* 名前の設定 */
    .myName{
        grid-column-start: 2; 
        grid-column-end: 7; 
        grid-row-start: 15; 
        grid-row-end:20;
        text-align: center;
        font-size: 2rem;
        font-family: 'Monoton', cursive;
    }
    /* 自分の画像 */
    .I-myface{
        grid-column-start: 3; 
        grid-column-end: 7; 
        grid-row-start: 6; 
        grid-row-end: 10;
    }
    /* ページ移動アニメーション */
    .fadeoutT{
        animation: proTraOut 1.0s ease 0.0s 1 forwards;
    }
    @keyframes proTraOut{
        0%{
            transform:translate(-15vh,40vw) rotate(90deg);
        }
        100%{
            transform: translate(100vh,100vw) rotate(120deg);
        }
    }
    /* スキルページのフォント */
    .mySkill p{
        font-size: 20px;
    }
}


