.screen{
    display: inline-block;
    max-width: 100vw;
    height: 90vh;
    overflow: hidden;
}
.ov-h{
    overflow: hidden;
}
.ov-v{
    opacity: visible;
}
/* 部屋の設定 */
.room{
    position: absolute;
    z-index: -1000;
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("img/壁.svg");
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10,1fr);
    grid-gap: 0;
    filter: blur(10px);
}
/* 窓の設定 */
.window{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 50, 1), rgba(100, 100, 255, 1));
    border-radius: 20px;
    grid-column-start: 3; 
    grid-column-end: 9; 
    grid-row-start: 2; 
    grid-row-end: 8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 0;
    z-index: -100;
}
/* 扉の設定 */
.door{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: solid saddlebrown 10px;
    background-color: rgba(137, 189, 222, 0.5);
    z-index: -10;
}
.dleft{
    top: 0;
    left: 0;
    grid-column-start: 1; 
    grid-column-end: 2; 
    grid-row-start: 1; 
    grid-row-end: 2;
}
.dright{
    top: 0;
    right: 0;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 1; 
    grid-row-end: 2;
}
.win-erea{
    width: 100%;
    height: 100%;
    grid-column-start: 3; 
    grid-column-end: 9; 
    grid-row-start: 2; 
    grid-row-end: 8;
    z-index: -90;
    overflow: hidden;
    border-radius: 20px;
    border: solid saddlebrown 12px;
}